name: TestingInConda

on:
  push:
    branches:
      - 'main'

jobs:
  setup-build:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v3
    - name: Setup Conda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: false
        conda-channels: conda-forge
        python-version: ${{ matrix.python-version }}

    - name: Install Packages
      shell: bash
      run: |
        python --version
        conda create -n mtpy-v2-test python=${{ matrix.python-version }}
        source activate mtpy-v2-test
        conda install pytest
        conda install pytest-subtests
        conda install pytest-cov
        conda install pytest-xdist[psutil]
        pip install git+https://github.com/kujaku11/mth5_test_data.git
        git clone https://github.com/kujaku11/mt_metadata.git@main
        cd mt_metadata
        pip install -e .
        cd ..
        git clone https://github.com/kujaku11/mth5.git@master
        cd mth5
        pip install -e .
        cd ..
        git clone https://github.com/simpeg/aurora@pydantic
        cd aurora
        pip install -e .
        cd ..
        git clone https://github.com/MTgeophysics/mtpy_data.git
        cd mtpy_data
        pip install -e .
        cd ..
        pip install -e .
        conda list
        
    - name: Run Tests
      shell: bash
      run: |
        source activate mtpy-v2-test
        cd mt_metadata/tests/
        pytest -v . -n auto
        cd ../../mth5/tests/
        pytest -v . -n auto
        cd ../../aurora/tests/
        pytest -v . -k "not test_doc_build.py" -n auto
        cd ../../tests/
        pytest -v .
        
    # - name: "Upload coverage to Codecov"
    #   uses: codecov/codecov-action@v3
    #   env:
    #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    #   with:
    #     fail_ci_if_error: false
    #     verbose: true
    #     flags: tests
        
